
.cabecalho{
    width: 100%;
    height: 100px;
    background-color: #009688;
    color: white;
}

.menu-lateral{
    margin-left: 100px;
    width: 110px;
    height: 200%;
    background-color: rgb(223, 221, 221);
    color:black;
}

#logo-cabecalho{
    width: 250px;
    margin-top: 25px;
    margin-left: 50px;
    
}

img{
    width: 60px;
    margin-top: 30px;
    margin-left: 20% ;
    flex-direction: column;
}
